<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Member to Task</title>
</head> 
<body>
    <h1>Add Member to Task</h1>

     <form action="/addTaskMember/<%= task._id %>" method="post" style="display: inline;">

        <input type="text" name="member" placeholder="Username" required>
        <button type="submit">Add Member</button>
    </form>

     <!-- Navigation Buttons -->
    <form action="/project/<%= project._id %>" method="get" style="display: inline;">
        <button type="submit">Cancel</button>

</body>
</html>