<!DOCTYPE html>
<html lang="es_mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cambiar Contrase単a</title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>
    <div class="container mt-5">
    <h1>Cambiar Contrase単a</h1>

    <form id="changePasswordForm">
        <input type="text" name="username" placeholder="Nombre de Usuario" required>
        <input type="password" name="oldPassword" placeholder="Anterior Contrase単a" required>
        <input type="password" name="newPassword" placeholder="Nueva Contrase単a" required>
        <button type="submit">Cambiar</button>
    </form>

    <br>

    <form action="/proyects" method="get" style="display: inline;">
        <button type="submit">Regresar</button>
    </form>

    <script>
        document.getElementById("changePasswordForm").addEventListener("submit", async (event) => {
            event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData);

            try {
                const response = await fetch("/changepwd", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                });

                const message = await response.text();
                alert(message);
            } catch (error) {
                console.error("Error:", error);
                alert("Error changing password");
            }
        });
    </script>
    
</body>
</html>
