<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change User</title>
</head>
<body>

    <h1>Change User</h1>

    <form id="deleteForm">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Delete</button>
    </form>

    <ul>
        <li><a href="/">Return</a></li>
    </ul>


    <script>
        document.getElementById("deleteForm").addEventListener("submit", async (event) => {
            event.preventDefault(); // Prevenir el comportamiento por defecto del formulario

            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData);

            try {
                const response = await fetch("/delete", {
                    method: "PUT",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                });

                const message = await response.text();
                alert(message);
            } catch (error) {
                console.error("Error:", error);
                alert("Error deleting username");
            }
        });
    </script>    
    
</body>
</html>
