<!DOCTYPE html>
<html lang="es_mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio de Sesion</title>
</head>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<body>

    <h1>Inicio de Sesion</h1>

    <% if (message) { %>
        <p style="color: green;"><%= message %></p>
    <% } %>

    <form action="/" method="POST">
        <input type="text" name="username" placeholder="Nombre de Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Iniciar Sesion</button>
    </form>

    <br>

    <form action="/register" method="get" style="display: inline;">
        <button type="submit">Registrarte</button>
    </form>

    <br>
    <br>

    <form action="/recoverpwd" method="get" style="display: inline;">
        <p>No recuerdas tu contraseña?</p>
        <button type="submit">Recuperar tu contraseña</button>
    </form>

    <br>
    <br>

</body>
</html>
