<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyects</title>
</head> <!-- Closing the head tag -->
<body>

    <h1>Hi</h1>

    <!--- CHANGES HERES   --->
    <form action="/logout" method="get" style="display: inline;">
        <button type="submit">
            Log out
        </button>
    </form>
    
    <form action="/changeuser" method="get" style="display: inline;">
        <button type="submit">
            Change username
        </button>
    </form>

    <form action="/createprojects" method="get" style="display: inline;">
        <input type="hidden" name="userId" value="<%= userId %>"> 
        <button type="submit">Create project</button>
    </form>
    
</body>
</html>
