<!-- views/recoverpwd.ejs -->
<!DOCTYPE html>
<html lang="es_mx">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <h1>Recuperar Contraseña</h1>
    <form action="/recoverpwd" method="POST">
        <input type="text" name="username" placeholder="Nombre de Usuario" required>
        <input type="email" name="email" placeholder="Email" required>
        <button type="submit">Siguiente</button>
    </form>
</body>
</html>