<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>

    <h1>Register Jora</h1>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <br>
        <input type="question" name="question" placeholder="A question you will always know the answer" required style="width: calc(50% - 30px);">
        <br>
        <input type="answer" name="answer" placeholder="A answer you will aways know" required style="width: calc(50% - 30px);">
        <br>
        <button type="submit">Register</button>
    </form>
<br>
    <form action="/" method="get" style="display: inline;">
        <button type="submit">Return</button>
    </form>

</body>
</html>