<!-- views/resetpassword.ejs -->
<!DOCTYPE html>
<html lang="es_mx">
<head>
    <meta charset="UTF-8">
    <title>Reiniciar Contrase単a</title>
</head>
<body>
    <h1>Reinicia tu contrase単a</h1>
    <form action="/resetpassword" method="POST">
        <input type="password" name="newPassword" placeholder="Nueva Contrase単a" required>
        <button type="submit">Reiniciar contrase単a</button>
    </form>
</body>
</html>
