<!-- views/securityquestion.ejs -->
<!DOCTYPE html>
<html lang="es_mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pregunta de Seguridad</title>
</head>
<link rel="stylesheet" href="/css/style.css">
<body>

    <h1>Responde la pregunta de seguridad</h1>

    <p><%= question %></p>
    <form action="/recoverpwd/verify" method="POST">
        <input type="text" name="answer" placeholder="Respuesta" required>
        <button type="submit">Recuperar</button>
    </form>

</body>
</html>
