<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= project.name %> Tasks</title>
</head> 
<body>

    

    <!-- Botones de navegación -->
    <form action="/proyects" method="get" style="display: inline;">
        <button type="submit">Back to Projects</button>
    </form>
    <form action="/createTask/<%= project._id %>" method="get" style="display: inline;">
        <button type="submit">Create Task</button>
    </form>
    <form action="/addMember/<%= project._id %>" method="get" style="display: inline;">
        <button type="submit">Add member</button>
    </form>

</body>
</html>
