<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= project.name %> Tasks</title>
</head> 
<body>

    <h1><%= project.name %> Tasks</h1>
    <p>No tasks</p>
    
    <button onclick="alert('Ni le muevas pa, está historia de usuario todavia no toca')">Create Task</button>

    <!-- Botones de navegación -->
    <form action="/proyects" method="get" style="display: inline;">
        <button type="submit">Back to Projects</button>
    </form>

</body>
</html>
